// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.


$blue--light: #317373;
$blue--dark: #317373;
$blue--darkest: #2d4b58;
$green: #007473;
$purple: #700044;
$yellow: #d1d1ad;
$grey: #ccc;
$grey-dark: #676767;
$grey-light: #ebebeb;
$body: #505050;
$body-color: $body;
$primary: $blue--light;
$secondary: $blue--dark;
$max-width-percentage: 90%;

$bp--xl: 1630px;
$bp--md: 768px;

$trans: .4s ease-in-out .1s;
